* {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: "맑은 고딕", sans-serif;
    box-sizing: border-box;
}

section {
    width: 25%;
    height: 100vh;
    float: left;
    position: relative;
}
section:hover {
    opacity: 0.8;
    text-align: center;
    color: #ffffff;
}

.page1 {
    background-image: url("1.png");
    background-color: #6399da; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page2 {
    background-image: url("2.png");
    background-color: #df6962;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page3 {
    background-image: url("3.png");
    background-color: #ebbf5c;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page4 {
    background-image: url("4.png");
    background-color: #e88c4e;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content {
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.content h1 {
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: 800;
    color: #ffffff;
}
.content h3 {
    font-size: 25px;
    font-weight: 400;
    color: #ffffff;
}
.inner p {
    position: absolute;
    text-align: center;
    top: 90%;
    left: 42%;
    color: #ffffff;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

button {
    font-size: 15pt;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    margin-top: 20px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 5px 20px 5px 20px;
}
button:hover {
    color: black;
    background-color: white;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    
    section {
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    .inner p {
        top: 20%;
        left: 38%;
    }
}
