* {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Nanum Gothic", sans-serif;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  min-width: 8vh;
  width: 100%;
  position: fixed;
  z-index: 999;
}
.nav__logo {
  display: flex;
  cursor: pointer;
  width: 40%;
  justify-content: left;
  padding-left: 40px;
}
.nav__logo a {
  display: flex;
  justify-content: start;
  cursor: pointer;
  text-decoration: none;
}
.nav__logo img {
  width: auto;
  height: auto;
  max-width: 80px;
  max-height: 80px;
  float: left;
  vertical-align: middle;
}
.nav__logo p {
  color: #000000;
  font-weight: 800;
  font-size: 28px;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__bar {
  display: flex;
  justify-content: space-between;
  width: 80%;
  cursor: pointer;
  padding: 0;
  margin: 0;
  align-items: center;
}
.nav__links {
  display: flex;
  list-style: none;
}
.nav__links li {
  font-size: 18px;
  font-weight: 450;
  padding-left: 40px;
  padding-right: 50px;
}
.nav__links li a {
  text-decoration: none;
}
.nav__links li a:hover {
  color: rgb(95, 95, 95);
}
.nav__reg {
  display: flex;
  list-style: none;
  padding-left: 4px;
  padding-right: 60px;
}
.nav__reg li {
  padding: 8px 4px;
}
.nav__reg li a {
  text-decoration: none;
  font-size: 10pt;
}
.nav__reg li a:hover {
  color: rgb(95, 95, 95);
}
.nav__burger {
  display: none;
  cursor: pointer;
}
.nav__burger div {
  width: 25px;
  height: 3px;
  background-color: #000000;
  margin: 5px;
}

.main__container {
  width: 100vw;
  height: 100vh;
  position: relative;
}
section {
  width: 25%;
  height: 100vh;
  float: left;
  position: relative;
  z-index: 1;
}
section:hover {
  opacity: 0.8;
  text-align: center;
  color: #ffffff;
}
.main__page1 {
  background-image: url("/president101/imgs/big-01.png");
  background-color: #6399da;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main__page2 {
  background-image: url("/president101/imgs/big-02.png");
  background-color: #df6962;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main__page3 {
  background-image: url("/president101/imgs/big-03.png");
  background-color: #ebbf5c;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main__page4 {
  background-image: url("/president101/imgs/big-04.png");
  background-color: #e88c4e;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main__content {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.main__content h1 {
  margin-bottom: 10px;
  font-size: 50px;
  font-weight: 800;
  color: #ffffff;
}
.main__content h3 {
  font-size: 25px;
  font-weight: 400;
  color: #ffffff;
}
button {
  font-size: 15pt;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  margin-top: 20px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  padding: 5px 20px 5px 20px;
}
button a {
  text-decoration: none;
  color: #ffffff;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

button:hover {
  color: black;
  background-color: white;
}
.main__container p {
  width: 100vw;
  position: absolute;
  text-align: center;
  top: 90%;
  color: #ffffff;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  z-index: 10;
}
.main_d-day h3 {
  position: absolute;
  width: auto;
  height: auto;
  top: 10%;
  left: 88%;
  font-size: 40px;
  font-weight: 800;
  z-index: 20;
  color: aliceblue;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
@media screen and (max-width: 1024px) {
  body {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow: hidden;
  }

  nav {
    background-color: rgba(0, 0, 0, 0.116);
    height: 60px;
  }

  .nav__logo {
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 4px 0px 0px 10px;
  }
  .nav__logo img {
    width: 50px;
  }
  .nav__logo p {
    font-size: 25px;
  }

  .nav__bar {
    position: absolute;
    right: 0;
    top: 60px;
    height: 26.5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .nav__links {
    background-color: rgba(0, 0, 0, 0.116);
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
    display: none;
  }
  .nav__links li {
    margin: 10px 0 10px 0;
  }
  .nav__reg {
    background-color: rgba(0, 0, 0, 0.116);
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    display: none;
  }
  .nav__reg li {
    margin: 0px 0 5px 0;
  }
  .nav__links li a,
  .nav__reg li a {
    font-size: 15px;
    font-weight: 800;
  }
  .nav__burger {
    display: block;
  }

  section {
    width: 50%;
    height: 50%;
    overflow: hidden;
  }
  .main__container h1 {
    font-size: 4vh;
  }
  .main__container h3 {
    font-size: 3vh;
  }
  .main__container p {
    top: 54%;
  }
  .main_d-day h3 {
    top: 11%;
    left: 78%;
  }
}
.nav__bar.nav_active,
.nav__links.nav-active,
.nav__reg.nav-active {
  display: flex;
}
