* {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Nanum Gothic", sans-serif;
  box-sizing: border-box;
}

.login_all {
  width: 100vw;
  height: 100vh;
  background: #faf5f1;
  padding: 0;
}
.login {
  background: #fff;
  width: 25rem;
  border-radius: 10px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 60px;
  box-shadow: 1px 1px 20px rgb(207, 207, 207);
}
.login_title {
  font-size: 25px;
  font-weight: 900;
  color: #333;
}
hr {
  margin-top: 5px;
  width: 100%;
  background: #eee;
}

label p {
  font-size: 11px;
  text-align: left;
  margin: 10px 0 5px 0;
}

input {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 30px;
  background-color: #f4f4f4;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
}
.login__btn {
  padding: 10px 0 10px 0;
}
.login__btn input {
  height: 40px;
  font-size: 18px;
  background-color: #6767ab;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.login__btn input:hover {
  background: #5353ac;
}

.login__register {
  margin-top: 10px;
  font-size: 12px;
}
@media screen and (max-width: 414px) {
  .login {
    width: 17rem;
  }
}
